body {
	background: pink;
	font-family: Arial, Helvetic, sans-serif
}
.assignments{
	display: flex;
	flex-wrap:wrap;
}

.assignment {
	width:30%;
	background:red;
	padding: 10px;
	margin: 10px;
	background: lightgray;
	border-radius:50 px;
}

.assignment img {
	width: 200px;
	margin: 10px;
	padding: 20px 10px;
	border:2px solid
	display:block;
	margin:auto;
}

.assignment img:hover {
	width: 200px;
	margin: 10px;
	padding: 10px;
	border:2px dashed #FFF
}


h1 {
	color: darkorchid:
	text-align: center;
}

h2 {
	text-align:center;
}

a {
	text-decoration:none;
}
a:hover {
	color:#FFF
}